<div class="login page">
  <form action="/login" method="post">
    <h1>Log In</h1>

    <div class="group">
      <input class="form" type="text" name="username" id="user-username" required autocomplete="off">
      <label for="input" class="control-label">Username</label><i class="bar"></i>
    </div>


    <div class="group">
      <input class="form" type="password" name="password" id="user-password" required autocomplete="off">
      <label for="input" class="control-label">Password</label><i class="bar"></i>
    </div>

    <button type="submit">Log In</button><br></br>
    <p>Don't have an account? <a href="/users/new" style="font-weight: bold">Sign Up</a></p>
  </form>
  <div class="login-box"></div>
</div>
<script>
  $('.group input').blur((e) => {
    e.target.value ? e.target.classList.add("has-value") : e.target.classList.remove("has-value");
  });
</script>
