<div class="page new-post text-center">
  <form action="/folders/{{folder.id}}/files" method="post">
    <h1>New File</h1>
    <div class="group">
      <input class="form" type="text" required name="title" id="file-title" autocomplete="off">
      <label for="input" class="control-label">Title</label><i class="bar"></i>
    </div>
    <div>
      <textarea id="file-description" required name="description" rows='4' placeholder="Write a description about the code snippet. Feel free to include the language, the original source project, etc..." autocomplete="off"></textarea>
    </div>
    <select id="language">
      <option>Select Language</option>
      <option>HTML</option>
      <option>CSS</option>
      <option>Javascript</option>
      <option>JSON</option>
      <option>Java</option>
      <option>Python</option>
      <option>C/C++</option>
      <option>C#</option>
      <option>PHP</option>
      <option>SQL</option>
      <option>Ruby</option>
    </select>
    <div id="ace-editor"></div>
    <button type="submit">Create</button>
</div>
</form>
</div>
<script>
  $('.group input').blur((e) => {
    e.target.value ? e.target.classList.add("has-value") : e.target.classList.remove("has-value");
  });
  var editor = ace.edit("ace-editor");
  var modelist = ace.require("ace/ext/modelist");
  $('#language').change((e) => {
    editor.session.setMode(`ace/mode/${$('#language').val().toLowerCase().replace('#', 'sharp').replace('c/c++', 'c_cpp')}`);
  });
  function update() {
    var shouldShow = !editor.session.getValue().length;
    var node = editor.renderer.emptyMessageNode;
    if (!shouldShow && node) {
        editor.renderer.scroller.removeChild(editor.renderer.emptyMessageNode);
        editor.renderer.emptyMessageNode = null;
    } else if (shouldShow && !node) {
        node = editor.renderer.emptyMessageNode = document.createElement("div");
        node.textContent = "Paste or type code here"
        node.className = "ace_invisible ace_emptyMessage"
        node.style.padding = "0 9px"
        editor.renderer.scroller.appendChild(node);
    }
}
editor.on("input", update);
setTimeout(update, 1000);
</script>
<a href="/folders/{{folder.id}}" class="back-btn"><button>⬅</button></a>
